*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.box-logo{
    height: 30rem;
    background-color: blue;
    margin-bottom: 3rem;
}

.flex{
    display: flex;
}

.flex-reverse{
    flex-direction: row-reverse;
}
.header-logo{
    height: 4rem;
    background-color: red;
    margin-bottom: 3rem;
}  

.main-logo,
.button-login{
    flex-basis: 25%;
    justify-content: center;
}

.header-nav{
    flex-basis: 50%;
}



.main-logo img{
    align-self: center;
}

.header-nav a{
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button-login button{
    align-self: center;
    width: 5rem;
    height: 2rem;
}

.center-text{
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 45%;
    height: 65%;
    background-color: aquamarine;
}

.center-text h1{
    align-self: center;
}

.center-text p,
button{
    align-self: flex-end;
}

.box{
    margin-bottom: 10rem;
}

.img-box{
    
    flex-basis: 70%;
    
}

.text-box{
    flex-basis: 30%;
}

.img-box img{
    margin: auto;

}

.big-box{
    background-color: aquamarine;
    margin-bottom: 3rem;
}

.footer-box{
    padding: 0.8rem 0 1.5rem 0;
    
}
.social{
    flex-basis: 30%;
    height: 500px;
    background-color: cadetblue;    
}

.links{
    flex-basis: 17.5%;
    background-color: red;
    border: 1px black solid;
    
}

footer{
    background-color: beige;
}

