*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.box-logo{
    height: 40rem;
    background-size: cover;
    background-image: url('../img/jumbo.png');
    margin-bottom: 3rem;
}

.flex{
    display: flex;
}

.flex-reverse{
    flex-direction: row-reverse;
}

.header-logo{
    height: 4rem;
    background-color: red;
    margin-bottom: 3rem;
}  

.main-logo,
.button-login{
    flex-basis: 25%;
    justify-content: center;
}

.header-nav{
    flex-basis: 50%;
}

.main-logo img{
    align-self: center;
}

.header-nav a{
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button-login button{
    align-self: center;
    width: 5rem;
    height: 2rem;
}

.center-text{
    /* justify-content: center; */
    /* align-content: center; */
    /* flex-direction: column; */
    text-align: center;
    width: 45%;
    height: 65%;
    background-color: aquamarine;
}

.center-text h1{
    /* align-self: center; */
}

.center-text p,
button{
    /* align-self: flex-end; */
}

.box{
    margin-bottom: 10rem;
}

.img-box{
     flex-basis: 70%;
    
}

.text-box{
    flex-basis: 30%;
}

.img-box img{
    

}

.big-box{
    /* background-color: aquamarine; */
    /* margin-bottom: 3rem; */
    /* text-align: center; */
   
}

.background{
    background-color: #f6f6f6;
}

.footer-box{
    padding: 0.8rem 0 1.5rem 0;
    
}
.social{
    width: 30%;
    height: 500px;
    background-color: cadetblue;    
}

.links{
    width: 17.5%;
    background-color: red;
    border: 1px black solid;
}

ul{
    list-style-type: none;
}

footer{
    background-color: #23272a;
    padding-top: 3rem;
}

.small-footer{
   justify-content: space-between;
   padding-top: 1.5rem; 
   border-top: 1px solid #8ea1e1;
}
