*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.box-logo{
    height: 30rem;
    background-color: blue;
}

.flex{
    display: flex;
}

.header-logo{
    height: 4rem;
    background-color: red;
}  

.main-logo{
    flex-basis: 25%;
    justify-content: center;
}

.header-nav{
    flex-basis: 50%;
}

.button-login{
    flex-basis: 25%;
    justify-content: center;
    
    
}

.main-logo img{
    align-self: center;
}

.header-nav a{
    margin: auto;
}

.button-login button{
    align-self: center;
    width: 5rem;
    height: 2rem;
}